{% extends "ptapp/base.html" %}
  {% block content %}
  <!-- Graph Data -->
  {{ networth_breakdown_list|json_script:"networth_breakdown_list" }}

  <div class="container m-3">
    <div class="row">
      <div class="card col-sm">
        <div class="card-header">Registered Accounts - {{ netWorth }}</div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm">
              {% if accountlist %}
                <ul class="list-group">
                  {% for account in accountlist %}
                    <li class="list-group-item">{{ account.name }} - ( {{ account.balance}})</li>
                  {% endfor %}
                </ul>
              {% else %}
                <p>No Accounts registered</p>
              {% endif %}
            </div>
            <div class="col-sm">
              <canvas id="myChart" width="300" height="300"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      createAccountbreakdownChart('myChart', parseDjangoJSONDump('networth_breakdown_list'));
  </script>
  {% endblock %}
