<html>
  <head>
    <title>Portfolio Tracker</title>
  </head>
  <body>
    <p>Hello {{ user.username }} </p>
    <p><a href="{% url 'admin:logout' %}">Logout</a></p>
    <p><a href="{% url 'admin:index' %}">Admin</a></p>
    <p><a href="{% url 'main:uploadTransactionFile' %}">Upload Transactions</a></p>

    Here are the accounts that you have registered:
    {% if accountlist %}
      <ul>
        {% for account in accountlist %}
          <li>{{ account.name }}</li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No Accounts registered</p>
    {% endif %}


  </body>
</html>
